<%- include('c:/Users/manid/OneDrive/Desktop/Udemy_Webdevelopment/4.3 EJS Partials/views/Partials/header.ejs') %>
<h1>Contact Me</h1>
<form>
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT" />
</form>
  
<%- include('c:/Users/manid/OneDrive/Desktop/Udemy_Webdevelopment/4.3 EJS Partials/views/Partials/footer.ejs') %>