<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <% if(day === 0 || day === 6){ %>
            <h1>hey! it is a Weekend,it is time to have fun!</h1>
        <% } else { %>
            <h1>hey! it is a Weekday,it is time to Workhard!</h1>
        <% } %>
    
</body>
</html>